div.item-container {
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	width: 800px;
	display: flex;
	position: relative;
}

div.item-container h1,
div.item-container h2,
div.item-container h3 {
	margin: 0;
}

div.item-container h2 {
	margin-bottom: 20px;
}

div.item-container img.item-img {
	background-color: #f7f7f7;
	width: 300px;
}

div.item-container div.item-details {
	padding: 10px;
}

div.item-container form {
	display: flex;
	gap: 10px;
}

div.item-container form input.qty-input {
	width: 43px;
	height: 28px;
	border-radius: 8px;
	border: 3px solid black;
	text-align: right;
	background-color: #f7f7f7;
}

div.item-container form button.qty-submit-btn {
	border-radius: 8px;
	background-color: #519aba;
	color: white;
	border: 0;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
}

div.item-container form button.qty-submit-btn:hover {
	cursor: pointer;
	background-color: hsl(198, 43%, 60%);
}

div.item-container form button.qty-submit-btn:active {
	background-color: #519aba;
}

div.item-container svg.delete-item-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
}

div.item-container svg.delete-item-icon:hover {
	cursor: pointer;
}

div.item-container svg path {
	pointer-events: none;
}
