div.item-container {
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	width: 800px;
	display: flex;
}

div.item-container h1,
div.item-container h2,
div.item-container h3 {
	margin: 0;
}

div.item-container h2 {
	margin-bottom: 20px;
}

div.item-container img.item-img {
	background-color: #f7f7f7;
	width: 300px;
}

div.item-container div.item-details {
	padding: 10px;
}
