ul.navbar {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 24px;
	padding: 10px 0px;
	margin: 0;
	background-color: #f7f7f7;
	border-bottom: 1px solid #e3e3e3;
	position: relative;
}

ul.navbar li a {
	color: black;
	text-decoration: none;
}

ul.navbar li a:hover {
	color: #519aba;
}

ul.navbar li a.active {
	color: #519aba;
	border-bottom: 3px solid #519aba;
	padding-bottom: 10px;
}

ul.navbar li.cart-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
}

.circle-base {
	border-radius: 50%;
}

.cart-qty-container {
	width: 27px;
	height: 27px;
	background: black;
	color: #f7f7f7;
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	left: -30px;
	top: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}
