ul.navbar {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 24px;
	padding: 0;
}

ul.navbar li a {
	color: black;
	text-decoration: none;
}

ul.navbar li a:hover {
	color: #519aba;
}

ul.navbar li a.active {
	color: #519aba;
	border-bottom: 3px solid #519aba;
	padding-bottom: 3px;
}
